absl_py==2.1.0
accelerate==0.29.2
addict==2.4.0
datasets==2.19.2
evaluate==0.4.1
faiss_gpu==1.7.2
importlib_metadata==7.1.0
ipython==8.12.3
langchain==0.2.12
langchain_community==0.2.11
nltk==3.8.1
numpy==1.24.3
packaging==24.1
pandas==2.0.3
rouge_score==0.1.2
sentence_transformers==3.0.0
six==1.16.0
tensorboardX==2.6.2.2
tensorboardX==2.6.2.2
toml==0.10.2
torch==1.13.1
tqdm==4.66.4
transformers==4.38.2
